{% extends 'base.html.twig' %}

{% block title %}Day Two{% endblock %}

{% block body %}
<h1>Rock, Paper, Scissors</h1>
<h2>Part one, follow the first strategy.</h2>
<p>Result: {{ part_one|number_format }} points.</p>

<h2>Part Two, follow the real strategy.</h2>
<p>Result: {{ part_two|number_format }} points.</p>
{% endblock %}
