{% extends 'base.html.twig' %}

{% block title %}Day One{% endblock %}

{% block body %}
    <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
            <h2 class="text-lg font-semibold text-indigo-600">Day 1/25</h2>
            <p class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Calorie Counting</p>
        </div>
    </div>
    <div class="overflow-hidden rounded-md border border-gray-300 bg-white">
        <ul role="list" class="divide-y divide-gray-300">
            <li class="px-6 py-4">
                <h2 class="text-lg">Part one, the Elf carrying the most Calories.</h2>
                <p class="part-one">Result: {{ part_one|number_format }} Calories</p>
            </li>
            <li class="px-6 py-4">
                <h2 class="text-lg">Part Two, the total of top three Elves carrying the most Calories.</h2>
                <p class="part-two">Result: {{ part_two|number_format }} Calories</p>
            </li>
        </ul>
    </div>
{% endblock %}
