{% extends 'base.html.twig' %}

{% block title %}Day One{% endblock %}

{% block body %}
<h2>Part one, the Elf carrying the most Calories.</h2>
<p>Result : {{ part_one }} Calories</p>

<h2>Part Two, the total of top three Elves carrying the most Calories.</h2>
<p>Result : {{ part_two }} Calories</p>
{% endblock %}
